/*
* Colour scheme:
* Eerie black - #191919
* Barn Red: #71000a
* Raisin black - #272727  
* font grey - #969696
* violet blue - #4357AD
* yellow - #f7cb15
*/
body{
    background-color: #d3d3d3;
    font-family: 'Lato';
    font-size: 16px;
	line-height: 1.5;
}

h1, h2, h3, h4 {
    font-family: 'Muli';
    font-weight: bold;
}

h2 {
	font-size: 2em;
}
	
h3 {
	font-size: 1.5em;
}
	
h4 {
	font-size: 1.125em;
}

h5 {
    font-size: 1em;
    font-weight: bold;
}

/* Navbar */
.navbar{
    background-color: #191919;
}

.navbar h1{
    font-size: 14px;
    color: #969696;
}

#logo a {
    font-family: "Agbalumo";
    color:white;
    text-decoration: none;
    font-size: 28px;
}

.navbar-nav a{
    font-weight: bold;
}

/* Footer */
.footer ul{
    list-style-type: none;
    padding: 0;
	margin: 0;
}

.horizontalNav{
    display:flex;
    list-style-type: none;
    padding: 0;
	margin: 0; 
}

.socialNav{
    font-size: 20px;
}

.horizontalNav li{
    margin-right: 10px;
}

.footer a{
    color: #969696;
    text-decoration: none;
}

.footer a:hover{
    font-weight: bold;
}

.footerTopWrapper{
    background-color: #272727;
    color: #969696;
}

.footerBottomWrapper{
    color: #969696;
    background-color: #191919;
    font-size: small;
}

/* Carrousel */
.carousel-caption{
    font-size: 24px;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.carousel-caption h5{
    font-size: 32px;
}

/* Other */
.tagLine{
    font-style:italic;
    font-size:large;
    font-weight: bold;
 }

.founderQuote{
    font-style:italic;
    font-size:large;
    font-weight: bold;
}

.founderQuote footer{
    font-size:small;
    font-weight:normal;
}

.promotionBanner{
    font-size: 24px;
    background-color: #71000a;
    color: white;
}

.blackWrapper{
    background-color: #313131;
    color: white;
}

.blueWrapper{
    background-image: url("../img/pexels-artem-podrez-7233130-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkblue;
    color: white;
}

.roundPortrait{
    border-radius: 50%;
}

.credit{
    font-size: x-small;
}

.buttonYellow{
    background-color: #f7cb15;
    font-weight: bold;
    border:#191919;
    color:#191919;
    padding: 10px;
}

.buttonYellow:hover{
    background-color: #969696;
    color:#191919;
}

/* Form */
.formContainer{
    background-color: #e0e0e0;
    border-style: solid;
    border-color: #bababa;
    border-radius: 2%;
    padding: 15px;
}

.required:after{
    content:" *";
}

.formErrorMessage{
    color: red;
    visibility: hidden;
}

/* Image gallery */
.imageOverlay{
    color: white;
    font-size: small;
    background-color: #191919;
    opacity: 0.9;
    visibility: hidden;
}

.imageOverlay p{
    margin: 0;
    padding: 0;
}

/* Game */
canvas{
    width: 100%;
    height: 100%;
    background-color: #4357AD;
    border-style: solid;
    border-color: #191919;
}

#gameWrapper{
    z-index: 1;
    max-width: 1000px;
    max-height: 1000px;
}

#gameOverlay{
    font-family: "Bangers";
    font-size: 24px;
    z-index: 2;
    background-color: #191919;
    color: white;
}

#gameOverlay h3{
    font-family: "Bangers";
    font-size: 52px;
}

#gameOverlay button{
    font-weight: lighter;
}

.gameScore{
    list-style-type: none;
    padding: 0;
}